@font-face {
    font-family:'Indie_Flower';
    src: url(./fuentes/Indie_Flower/IndieFlower-Regular.ttf);
}

@font-face {
    font-family: 'Permanent_Marker';
    src: url(./fuentes/Permanent_Marker/PermanentMarker-Regular.ttf);
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

aside {
    background-color: #7B9970;
    width: 30vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    background-color: #C50537 ;
    width: 70vw;
    height: 100vh;
    margin: 0;
    position: relative;
}

h1 {
    font-family: 'Permanent_Marker';
    font-size: 25px;
    text-align: center;
    color: #941F1F;
    padding-top: 30px;
    margin: 0;
}

hr {
    border: solid black;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 3px;
}

button {
    font-family: 'Permanent_Marker';
    font-size: medium;
    margin: .625rem ; 
    border-radius: 25px;
    padding: 15px;
    color: white;
    background-color: #C50537;
    border: solid black 5px;
}


button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.col{
    margin-left: 32%;
    margin-bottom: 17%;
}

.cntBotones{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 4.5%;
}

.instructions {
    background-color: white;
    margin: 5%;
    margin-top: 40px;
    border-radius: 25px;
    border: solid black 5px;
    font-family: 'Indie_Flower';
    font-size: large;
}

.todoList{
    align-items: center;
    justify-content: center;
    align-content: center;
}

.listHolder{
    height: 30vh;
    width: 25vw;
    background-color: white;
    margin: 5%;
    margin-top: .625rem;
    padding: .5rem;
    border-radius: 25px;
    border: solid black 5px;
    font-family: 'Indie_Flower';
    font-size: large;
    overflow-y: scroll;
      
}

.resultado{
    width: 30vw;
    height: 10vh;
    background-color: rgba(197, 237, 228, 0.7);
    position: absolute;
    font-family: 'Indie_Flower';
    font-weight: bold;
    font-size: 4.375rem;
    text-align: center;
    color: white;
    padding: 3.125rem;
    margin: 15.625rem;
    border-radius: 1.875rem;
    border: 5px solid; color: black;
}


#boton-anadir{
    background-color: white;
    color: black;
}

#anadir-nombre{
    background-color: white;
    margin: 5%;
    margin-top: 40px;
    padding: .5rem;
    border-radius: 25px;
    border: solid black 5px;
    font-family: 'Indie_Flower';
    font-size: large;

}
 
#addInput{
    width: 25vw;
    background-color: white;
    margin: 0%;
    margin-top: 0;
    margin-left: 5%;
    padding: .5rem;
    border-radius: 10px;
    border: solid black 3px;
    font-family: 'Indie_Flower';
    font-size: large;
    
}

#texto-instructions {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    
}

#listaFotos{
    width: 70vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

#listaFotos img{
    height:9.1875rem;
    width:9.1875rem;
}

#portada-calendario{
    width: 70vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
}

@media (max-width: 56.25rem){
    body{
        display: flex;
        flex-direction: column;
    }
    aside{
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: row;
    }

    .todoBlock{
        display: flex;
        flex-direction: column;
    }

    section {
        background-color: #C50537 ;
        width: 100vw;
        height: 80vh;
        margin: 0;
    }
    
    #portada-calendario{
        width: 100vw;
        height: 80vh;
        background-size: cover;
        background-position: center;

    }

    button {
        font-family: 'Permanent_Marker';
        font-size: medium;
        height: 6vh;
        margin: .125rem;
        border-radius: 25px;
        padding: .125rem;
        }

    #listaFotos{
        width: 100vw;
        height: 80vh;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        align-items: center;
        justify-content: space-around;
    }

    h1{
        padding: 0%;
    }

    .listHolder{
        width: 25vw;
        height: 4vh;
        overflow-y: scroll;
    }

    .btn-primary{
        width: 15vw;
        height: 3vh;
    }
}
